#tweet-map {
	height: 600px;
	width: 100%;
}
.search-block{
	overflow: hidden;
	border:1px solid #ccc;
}
.tweet-map-container{
	max-width: 555px;
	margin:0 auto 50px auto;
	position: relative;
}
.tweet-title{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	text-align: center;
}
.tweet-title h2{
	text-transform: uppercase;
	font-size: 28px;
	/*color: #61b4dc;*/
	font-weight: bold;
	color: #61b4dc;
	-webkit-text-fill-color: #61b4dc; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: white;
}
.search-input{
	padding: 0;
}
.search-input input{
	height: 40px;
	width: 100%;
	font-size: 14px;
	color: #bbbbbb;
	padding:0 10px;
	border:none;
}
.search-input .form-group{
	margin-bottom: 0;
}
.buttons{
	background:#61b4dc;
	height: 40px;
	padding:0;
	text-align: center;
	cursor: pointer;
}
.buttons:hover{
	opacity: 0.5;
}
.buttons button,
.buttons a{
	background:none;
	border:none;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	line-height: 40px;
}
.buttons.search-btn{
	border-right: 1px solid #fff;
}
.table-container{
	height: 410px;
	overflow: auto;
	border:1px solid #ccc;
}
.table thead{
	height: 38px;
	width: 100%;
	display: block;
}
.table thead tr th{
	background: white;
	position: fixed;
	max-width: 534px;
	border: none;
	width: 100%;
}
.table tbody tr td a{
	color: #242424;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}
.table tbody tr td a:hover{
	color: #61b4dc;
	text-decoration: none;
}
.back{
	height: 37px;
	line-height: 37px;
	padding: 0 12px;
	margin-top: 50px;
	border: 1px solid #ccc;
}
.back a{
	color: #242424;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}